* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./fotos-proyecto-dos/versus.jpg");
    background-size: cover;
}

.section {
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    z-index: 1;
}

.div-a {
    width: 100%;
    height: 33%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.puntos-a {
    width: 6%;
    height: 30%;
    border: black solid 3px;
    border-radius: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: 300%;
    font-family: monospace;
    box-shadow: 0px 10px 10px -6px black;
}

.cards-a {
    width: 17%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

img {
    width: 90%;
    height: 90%;
}

img:hover {
    cursor: pointer;
}

.btns {
    width: 100%;
    height: 7rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.botones {
    width: 25%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
}

/*.stop {
    width: 40%;
    height: 50%;
    border-radius: 10px;
    background-color: rgb(255, 102, 0);
    color: white;
    font-size: 25px;
    font-family: monospace;
}*/

.play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 50%;
    border-radius: 10px;
    background-color: transparent;
    background-color: rgb(43, 43, 107);
    color: white;
    font-size: 200%;
    font-family: monospace;
}

.play:hover{
    color:rgb(255, 102, 0) ;
}

/*.stop:hover {
    color:rgb(43, 43, 107) ;
}*/

.div-b {
    width: 100%;
    height: 33%;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.puntos-b {
    width: 6%;
    height: 30%;
    border-radius: 5px;
    border: black 3px solid;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: 300%;
    font-family: monospace;
    box-shadow: 0px 10px 10px -6px black;
}

.cards-b {
    width: 17%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

/*Nueva funcionalidad agregada*/
.info-a {
    z-index: 2;
    position: absolute;
    background-color: rgb(47, 47, 202);
    width: 30%;
    height: 10%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    color: white;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: translate(0 , -550%);

}

.info-b {
    z-index: 3;
    position: absolute;
    background-color: rgb(204, 19, 19);
    width: 30%;
    height: 10%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    color: white;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: translate(0 , -550%);
}

.info-c {
    z-index: 4;
    position: absolute;
    background-color: rgb(139, 133, 133);
    width: 30%;
    height: 10%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    color: white;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: translate(0 , -550%);
}

.aparece-a {
    transform: translate(0 , 0);
    transition: all .3s ease;
}

/*Iconos*/

.party {
    width: 50px;
    height: 50px;
}

.sad {
    width: 50px;
    height: 50px;
}

.igual {
    width: 50px;
    height: 50px;
}

/*estilos de bachground-change*/

.img-btn {
    width: 5%;
    height: 10%;
    position: absolute;
    z-index: 5;
    margin-top: 15px;
    margin-left: 15px;
}

.back-1 {
    background-image: url("./fotos-proyecto-dos/vs2.jpg");
    background-size: cover;
}

.back-2 {
    background-image: url("./fotos-proyecto-dos/vs3.jpg");
    background-size: cover;
}

.back-3 {
    background-image: url("./fotos-proyecto-dos/vs4.jpg");
    background-size: cover;

}

.p-a {
    background-color: rgb(255, 94, 0);
}

/*responsive branch*/

@media (max-width: 750px){
    .div-b{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: space-evenly;
        min-height: 25rem;
    }

    .div-a {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: space-evenly;
        min-height: 15rem;
    }

    .info-a {
        transform: translate(0 , -650%);    
    }
    .info-b {
        transform: translate(0 , -650%);
    }
    .info-c {
        transform: translate(0 , -650%);
    }

    .section{
        height: 100%;
    }

    .sad {
        transform: translate(0 , -150%);
    }
    .party {
        transform: translate(0 , -150%);
    }
    .igual {
        transform: translate(0 , -150%);
    }

    .puntos-a {
        border: none;
        box-shadow: none;
    }

    .puntos-b {
        border: none;
        box-shadow: none;
    }

    .img-btn {
        width: 7%;
        height: 7%;
    }

    .botones {
        width: 100%;
    }
}